<!DOCTYPE html>
<!--template.html-->

<html lang="en">
    <body style="background-color:	#AFE1AF;"></body>
    <head>
        <title>EcoWebsite</title>
        <center><b> <font size="+20">About Us</font></b>  </center>
    </head>

    <body>
        <p> <center>Our mission is to encourage web developers to practice more sustainable web development. Each website has
             an associated amount of data that needs to be sent over to it with each request. The world is currently in a crisis of
              constantly increasing average climate, due to increased potency of the Greenhouse
             Gas effect, which is being promoted by unsustainable use and production of electricity. As websites get more complex and
              cumbersome, this amount of data to be sent goes up, which requires more electricity to be used by the host.

              
        </center></p>
        <p>
            With this website we want to promote awareness of this issue by providing a tool that web developers can use to understand
            the environmental impact of their websites. This metric is based on the electricity needed to support the data sent out 
            by the website, and how much CO2 emission is associated with that electricity usage.
        </p>

    </body>
</html>