<!DOCTYPE html>
<!--template.html-->

<html lang="en">
    <body style="background-color:	#AFE1AF;"></body>
    <head>
        <style>
            .header {
                padding: 60px;
                text-align: center;
                font-size: 30px;   
            }
        </style>

        <title>EcoWebsite</title>
        <div class="header">
            <h><b>CO2 Emissions</b></h>
        </div>
    </head>

    <body style="background-color:	#AFE1AF;">
        
        <nav>
            <a href="{{ url_for('home')}}">Home</a>
            <a href="{{ url_for('about')}}">About Us</a>
        </nav>
        
    </body>
</html>