<!DOCTYPE html>
<!--template.html-->

<html lang="en">
    <head>
        <style>
        .header {
            padding: 60px;
            text-align: center;
            font-size: 30px;   
        }

        input {
            width: 100%
        }
        </style>

        <title>EcoWebsite</title>
        
        <div class="header">
            <h><b>CO2 Emissions</b></h>
        </div>
        <nav>
            <a href="{{ url_for('about')}}">About Us</a>
        </nav>
    </head>
 
 
    <body>
        <form action="{{ url_for("get")}}" method="post">
            <label for="url">Website URL:</label><br>
            <input type="text" id="url" name="url"><br>
            <input type="submit" value="Submit">
           
        </form>
        <form action="About.html">
            <input type="submit" value="See Your Waste!" />
        </form>
        

    </body>
</html>