<!DOCTYPE html>
<!--template.html-->

<html lang="en">
    <head>
        <style>
        .header {
            padding: 60px;
            text-align: center;
            font-size: 30px;   
        }

        input {
            width: 100%
        }
        </style>

        <title>EcoWebsite</title>
        <div class="header">
            <h><b>CO2 Emissions</b></h>
        </div>
        <nav>
            <a href="{{ url_for('home')}}">Home</a>
            <a href="{{ url_for('about')}}">About Us</a>
        </nav>
    </head>

    <body style="background-color:	#AFE1AF;">        
            <form action="{{ url_for("home")}}" method="post">
                <label for="url">Website URL:</label><br>
                <input type="text" id="url" name="url"><br>
                <label for="visitors">Monthly Number of Visitors</label><br>
                <input type="number" id="visitors" name="visitors"><br>
                <input type="submit" value="Submit">
            </form>        
    </body>
</html>