<!DOCTYPE html>
<!--template.html-->

<html lang="en">
    <head>
        <title>EcoWebsite</title>
        <h><b>CO2 Emissions</b></h>
        <nav>
            <a href="{{ url_for('about')}}">About Us</a>
        </nav>
    </head>

    <body>
        <form action="{{ url_for("home")}}" method="post">
            <label for="url">Website URL:</label><br>
            <input type="text" id="url" name="url"><br>
            <label for="visitors">Monthly Number of Visitors</label><br>
            <input type="number" id="visitors" name="visitors"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>